<app-search-bar></app-search-bar>

<div class="events-container">
  <div class="events">
    <div class="event-card" *ngFor="let event of filteredEvents">
      <img class="event-image" [src]="event.imageUrl" alt="{{ event.title }}">

      <div class="event-details">
        <h3 class="event-title">{{ event.title }}</h3>

        <div class="event-meta">
          <p><i class="fa fa-calendar"></i> {{ event.date }} • {{ event.time }}</p>
          <p><i class="fa fa-map-marker"></i> {{ event.location }}</p>
          <p ><i class="rs-icon">Rs</i> {{ event.price }} </p>
        </div>

      

       <a [routerLink]="['/event-detail', event.id]" class="buy-button" target="_self">Request</a>
      </div>
    </div>
  </div>
</div>