<div class="side-menu">
    <div class="brand-name">
        <h1>JobFinder.lk</h1>
    </div>
    <ul class="side-bar">
        <li><i class="fas fa-home"></i>&nbsp; <a routerLink="/AdminDashboard">Dashboard</a></li>
        <li><i class="fas fa-desktop"></i>&nbsp; <a routerLink="/eventTable">Event</a></li>
        <li><i class="fas fa-user"></i>&nbsp; <a routerLink="/viwe_compeny_details">Company</a></li>
        <li><i class="fas fa-university"></i>&nbsp; <a routerLink="/jobPost">Post Job</a></li>
        <li><i class="fas fa-money"></i>&nbsp; <a>Income</a></li>
        <li><i class="fas fa-question-circle"></i>&nbsp; <a>Help</a></li>
        <li><i class="fa fa-cog"></i>&nbsp; <a>Settings</a></li>


    </ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Search..">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="user">
                <a href="#" class="btn">Add New</a>
                <i class="fa fa-solid fa-bell"></i>
                <div class="img-case">
                    <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>