<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <h1 class="logo">JobFinder™</h1>
      <p class="description">
        JobFinder, Sri Lanka's premier and most trusted online job partner, serves as the official marketplace providing
        a secure and safe platform for purchasing job to all jon seekers in Sri Lanka.
      </p>
    </div>
    
    <div class="footer-section">
      <h3>Helpful Links</h3>
      <ul>
        <li><a routerLink="/events">Events</a></li>
        <!-- <li><a routerLink="/deals">MyTickets Deals</a></li> -->
        <li><a routerLink="/account">My Account</a></li>
        <li><a routerLink="/refund-policy">Refund Policy</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>About Us</h3>
      <ul>
        <li><a routerLink="/about">Who We Are</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <ul>
        <li><a href="https://wa.me/+94773573870" target="_blank">WhatsApp (Text-only service)</a></li>
        <li><a href="mailto:support@mytickets.it">support&#64;JobFinder.lk</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="legal-links">
      <a routerLink="/privacy-policy">Privacy Policy</a> |
      <a routerLink="/cookie-policy">Cookie Policy</a> |
      <a routerLink="/terms">Terms and Conditions</a>
    </div>
    <div class="copyright">
      Copyright 2014-{{ currentYear }} © JobFinder All Rights Reserved
    </div>
  </div>
</footer>