<div class="side-menu">
    <div class="brand-name">
        <h1>Brand</h1>
    </div>
    <ul>
        <li><i class="fas fa-home"></i>&nbsp; <span>Dashboard</span></li>
        <li><i class="fas fa-desktop"></i>&nbsp; <span>Students</span></li>
        <li><i class="fas fa-user"></i>&nbsp; <span>Teachers</span></li>
        <li><i class="fas fa-university"></i>&nbsp; <span>Schools</span></li>
        <li><i class="fas fa-money"></i>&nbsp; <span>Income</span></li>
        <li><i class="fas fa-question-circle"></i>&nbsp; <span>Help</span></li>
        <li><i class="fa fa-cog"></i>&nbsp; <span>Settings</span></li>


    </ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Search..">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="user">
                <a href="#" class="btn">Add New</a>
                <i class="fa fa-solid fa-bell"></i>
                <div class="img-case">
                    <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>